#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	shards install --production
	bin/gi-crystal > gi-crystal.log 2>&1 || { cat gi-crystal.log; exit 1; }
	crystal build --release --no-debug src/cli.cr -o bin/camelot
	crystal build --release --no-debug src/gtk.cr -o bin/camelot-gtk
	for sh in bash zsh fish; do bin/camelot --completions $$sh > completions.$$sh; done

override_dh_auto_install:
	install -Dm755 bin/camelot debian/camelot/usr/bin/camelot
	install -Dm644 completions.bash debian/camelot/usr/share/bash-completion/completions/camelot
	install -Dm644 completions.zsh  debian/camelot/usr/share/zsh/vendor-completions/_camelot
	install -Dm644 completions.fish debian/camelot/usr/share/fish/vendor_completions.d/camelot.fish
	install -Dm644 contrib/camelot.service debian/camelot/usr/lib/systemd/user/camelot.service
	install -Dm755 bin/camelot-gtk debian/camelot-gtk/usr/bin/camelot-gtk
	install -Dm644 contrib/com.tabcomputing.Camelot.desktop debian/camelot-gtk/usr/share/applications/com.tabcomputing.Camelot.desktop

override_dh_auto_test:
	true
